doctype html
html
    head
        title Knowledgebase
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    body

        .container
            block content
            br
            hr
            footer
                p Copyrights & Copy 2017.
